---
import { getCollection } from "astro:content";
import type { PaginateFunction } from "astro";

import Layout from "@/layouts/BaseLayout.astro";
import ArticleList from "@/components/page/ArticleList.astro";
import Pagination from "@/components/ui/Pagination.astro";
import Title from "@/components/page/Title.astro";
import { COUNT_PER_PAGE } from "@/lib/constant";

export async function getStaticPaths({
	paginate,
}: {
	paginate: PaginateFunction;
}) {
	const allPosts = await getCollection("blog");

	const sortedPosts = allPosts.sort((a, b) => {
		const aDate = new Date(a.data.date);
		const bDate = new Date(b.data.date);
		return bDate.getTime() - aDate.getTime();
	});

	return paginate(sortedPosts, { pageSize: COUNT_PER_PAGE });
}

const { page } = Astro.props;
---

<Layout
    title="Blog"
    description="Blog"
    pagefind={true}
    og={{
        enabled: true,
        image: new URL("/og-image.png", Astro.url),
    }}
    type="website"
>
  <Title title="Blog" />
  <div class="flex flex-col items-center w-full">
    <ArticleList page={page} />
    <Pagination page={page} baseUrl="/blog" />
  </div>
</Layout> 