---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
---

<Layout>
    <article>
    <h1>{post.data.title}</h1>
    <div>公開日: {post.data.date}</div>
    <div>タグ: {post.data.tags?.join(', ')}</div>
    <div>{post.data.summary}</div>
    <hr />
        <div set:html={post.body} />
    </article>
</Layout> 