---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { Button } from "@/components/ui/button";
import QiitaWhiteIcon from "@/assets/qiita-white-icon.png";
import QiitaIcon from "@/assets/qiita-icon.png";
import ZennWhiteIcon from "@/assets/zenn-white-icon.svg";
import ZennIcon from "@/assets/zenn-icon.svg";
---

<hr class="w-9/10 mx-auto h-px mb-2 bg-gray-300 border-0 dark:bg-gray-600">
<footer class="bg-transparent py-8">
    <div class="container mx-auto px-6 md:px-12">
        <div class="flex flex-col md:flex-row justify-between items-center gap-6">
            <!-- Left Section: Branding & Tagline -->
            <div class="text-center md:text-left">
                <h2 class="text-xl font-semibold">Katsuya Ogata</h2>
                <p class="text-sm mt-2">Creating innovative solutions for the web.</p>
            </div>

            <!-- Social Media Links -->
            <div class="flex gap-6">
                <Button variant="ghost" size="icon" asChild>
                    <a href="https://github.com/ogatakatsuya" target="_blank" rel="noopener noreferrer">
                        <Icon name="ri:github-line" class="w-5 h-5" />
                    </a>
                </Button>
                <Button variant="ghost" size="icon" asChild>
                    <a href="mailto:ogata.1225.koroku@gmail.com" target="_blank" rel="noopener noreferrer">
                        <Icon name="ri:mail-line" class="w-5 h-5" />
                    </a>
                </Button>
                <a href="https://qiita.com/Katsuya_Ogata" target="_blank" rel="noopener noreferrer">
                    <span class="block dark:hidden">
                        <Image src={QiitaIcon} alt="Qiita" class="w-5 h-5" />
                    </span>
                    <span class="hidden dark:block">
                        <Image src={QiitaWhiteIcon} alt="Qiita" class="w-5 h-5" />
                    </span>
                </a>
                <a href="https://zenn.dev/o_k_o" target="_blank" rel="noopener noreferrer">
                    <span class="block dark:hidden">
                        <Image src={ZennIcon} alt="Zenn" class="w-5 h-5" />
                    </span>
                    <span class="hidden dark:block">
                        <Image src={ZennWhiteIcon} alt="Zenn" class="w-5 h-5" />
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>
