---
import ThemeIcon from "../page/ThemeIcon.astro";

const navLinks = [
	{ href: "/", label: "Home" },
	{ href: "/about", label: "About" },
	{ href: "/blog", label: "Blog" },
	{ href: "/talk", label: "Talk" },
	{ href: "/contact", label: "Contact" },
];
---

<header class="fixed w-full top-8 z-50 flex justify-center pointer-events-none">
  <div class="bg-slate-200 dark:bg-gray-900/80 border-2 border-gray-400 dark:border-yellow-100 rounded-xl shadow-md px-2 py-3 md:py-4 w-[95vw] max-w-3xl pointer-events-auto transition-colors duration-300">
    <nav class="relative flex items-center justify-center">
      <div class="flex gap-6 justify-left pl-8 md:justify-center w-full">
        {navLinks.map(link => (
          <a
            href={link.href}
            class="font-bold text-center hover:underline hover:text-blue-500 dark:hover:text-yellow-300 active:scale-95 transition-transform duration-100"
          >
            {link.label}
          </a>
        ))}
      </div>
      <div class="absolute right-2 top-1/2 -translate-y-1/2">
        <ThemeIcon />
      </div>
    </nav>
  </div>
</header>
