---
import BaseLayout from "@/layouts/BaseLayout.astro";
import AboutTimeline from "@/components/page/Experience.astro";
---

<BaseLayout>
  <div class="mt-40">
    <AboutTimeline />
  </div>
</BaseLayout>