---
import Layout from "@/layouts/BaseLayout.astro";
import AboutTimeline from "@/components/page/Experience.astro";
---

<Layout
    title="About"
    description="About Ogata Katsuya"
    pagefind={true}
    og={{
        enabled: true,
        image: new URL("/og-image.png", Astro.url),
    }}
    type="website"
>
  <div class="mt-40">
    <AboutTimeline />
  </div>
</Layout>