---
import { Image } from 'astro:assets';
import ServicePath1 from "@/assets/service/service1.webp";
import ServicePath2 from "@/assets/service/service2.webp";
import ServicePath3 from "@/assets/service/service3.webp";

import { Card, CardContent } from "@/components/ui/card";

const services = [
    {
        title: "Hannavi",
        description: "A web platform connecting Osaka University circles and new students.",
        image: ServicePath1,
        link: "https://www.i-maker.org"
    },
    {
        title: "Riddle App",
        description: "A puzzle-solving application modeled after university retake exams.",
        image: ServicePath2,
        link: "https://qiita.com/Katsuya_Ogata/items/5e3bcdae3b63d46e1e1f"
    },
    {
        title: "Chatbot",
        description: "A course registration support chatbot utilizing RAG and prompting.",
        image: ServicePath3,
        link: "https://example.com"
    },
];
---

<section id="services" class="py-16 bg-gray-100">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-semibold text-gray-800 text-center mb-12">My Services</h2>
        
        <div class="relative max-w-6xl mx-auto">
            {services.map((service, index) => (
                <div class={`mb-16 ${index % 2 === 0 ? 'ml-0 mr-auto' : 'ml-auto mr-0'} w-full md:w-5/6 lg:w-4/5`}>
                    <Card 
                        className={`overflow-hidden shadow-xl relative ${index % 2 === 0 ? 'md:ml-0' : 'md:mr-0'}`}
                    >
                        <div class="relative w-full h-64">
                            <Image src={service.image} alt="Service" class="absolute top-0 left-0 w-full h-full object-cover" />
                        </div>
                        <CardContent className="relative p-6">
                            <h3 class="text-xl font-semibold mb-2">
                                <a href={service.link} class="hover:underline" target="_blank">{service.title}</a>
                            </h3>
                            <p class="text-gray-600">{service.description}</p>
                        </CardContent>
                    </Card>
                </div>
            ))}
        </div>
    </div>
</section>